<div>
  <h3>Product Details</h3>
</div>
<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <button mat-flat-button color="accent" [routerLink]="['/products']"><mat-icon>list</mat-icon> Back</button>
  </div>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{product.description}}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-header>
      <mat-card-title><h2>{{product.isActive}}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-header>
      <mat-card-title><h2>{{product.manufactureDate}}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-header>
      <mat-card-title><h2>{{product.expiryDate}}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-header>
      <mat-card-title><h2>{{product.supplierName}}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button collor="primary" [routerLink]="['/product-edit', product.id]"><mat-icon>edit</mat-icon>Edit</button>
      <button mat-flat-button collor="warn" (click)="deleteProduct(product.id)"><mat-icon>delete</mat-icon>Delete</button>
    </mat-card-actions>
  </mat-card>
</div>