<div>
  <h3>Products</h3>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>
  
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef> Active </th>
    <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
  </ng-container>
  
  <ng-container matColumnDef="manufactureDate">
    <th mat-header-cell *matHeaderCellDef> Manufactured Date </th>
    <td mat-cell *matCellDef="let element"> {{element.manufactureDate}} </td>
  </ng-container>
  
  <ng-container matColumnDef="expiryDate">
    <th mat-header-cell *matHeaderCellDef> Expiry Date </th>
    <td mat-cell *matCellDef="let element"> {{element.expiryDate}} </td>
  </ng-container>
  
  <ng-container matColumnDef="supplier">
    <th mat-header-cell *matHeaderCellDef> Supplier </th>
    <td mat-cell *matCellDef="let element"> {{element.supplierName}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> <button mat-flat-button color="accent" routerLink="/product-details/{{element.id}}" selected>Details</button></td>
  </ng-container>
<tr mat-header-row *matHeaderRowDef="displayerColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayerColumns;"></tr>
  
</table>
